@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-primary-color {
  background-color: #0E9B87;
}

.primary-color {
  color: #0E9B87;
}

.divider {
  width: 150px;
  height: 3px;
  background-color: #0E9B87;
}

div {
  text-align: justify;
}